@model IEnumerable<SegundaPracticaMVC.Models.Libro>

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito de Compras</h1>

@if (Model != null && Model.Any())
{
    <form asp-controller="Libros" asp-action="Comprar" method="post">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <input type="hidden" name="libros[@i]" value="@Model.ElementAt(i).IdLibro" />
            <input type="hidden" name="iduser" value="@Context.User.FindFirst("id").Value" />
        }

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Portada</th>
                    <th class="text-center">Título</th>
                    <th class="text-center">Autor</th>
                    <th class="text-center">Editorial</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td class="align-middle text-center"><img src="@HelperPathProvider.MapUrlPath(Model.ElementAt(i).Portada, Folders.Libros)" style="height:100px; width:70px" /></td>
                        <td class="align-middle text-center">@Html.DisplayFor(_ => Model.ElementAt(i).Titulo)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(_ => Model.ElementAt(i).Autor)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(_ => Model.ElementAt(i).Editorial)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(_ => Model.ElementAt(i).Precio)</td>
                        <td class="align-middle text-center">
                            <a asp-controller="Libros" asp-action="Carrito" asp-route-idLibroEliminar="@Model.ElementAt(i).IdLibro" class="btn btn-outline-danger">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <button type="submit" class="btn btn-primary">Finalizar Compra</button>
    </form>
}
else
{
    <div class="alert alert-info" role="alert">
        Tu carrito está vacío.
    </div>
}
